:root{
    --mainBg: #FCF7FF;
    --whtTxt: #FCF7FF;
    --text: #261B51;
    --boxShd: #261b51;
    --click: #9B7FE9;
    --txtEdt: linear-gradient(to bottom right, #00b5ff,#57fbdb);
    --txtUndln: #FFFADE;
    --cont: #FFFADE;
}

@font-face {
    font-family: "outfit";
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: "young-serif";
    src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(fonts/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

li>a {
    text-decoration: none;
    color: var(--click);
}

section:last-of-type li>a:hover{
    color: #D5D5D5;
}

footer li>a:hover{
    color: var(--projectCol);
}

li {
    list-style: none;
}

body {
    font-family: "Inter",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--mainBg);
    color: var(--text);
    line-height: 1.5;
    word-spacing: 0.6rem;
}



ul>li,p{
    font-family: "outfit","Inter";
    font-size: clamp(16px,1.3rem,5vw);
}

h1,h2 {
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

section {
    scroll-margin: 80px;
}

section:nth-of-type(n + 2){
    margin: 50px 0;
}
/* 
header>.container nav i{
    color: var(--whtTxt);
 } */

main section:nth-of-type(n + 2) i{
    color: var(--click);
}

.navbar>a{
    margin-right: 15px;
}

.navbar>a>img {
    width: min(40vw,200px);
}

.nav ul{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    gap: 20px;
}

nav ul:first-of-type a{
color: var(--whtTxt);
}
nav ul:first-of-type a:hover{
    color: var(--click);
    text-decoration: underline 2px var(--whtTxt);
}

.container {
    width: min(90vw,1100px);
    margin: 0 auto;
}

.nav {
    flex-grow: 1;
    position: sticky;
    top: -1px;
}

header {
    position: sticky;
    top: 0px;
    background-color: var(--boxShd);
    z-index: 2;
}


header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[src *="jpg"] {
    width: min(500px,40vw);
    height: min(550px,50vw);
    border-radius: max(30px,1.3rem);
    margin-left: calc(10px + 1vw);
}

img[src *= ".png"] { 
    width: 100%;
}
img[src *=".svg"]{
    height: 100%;
    margin-bottom: -6px;
}

section:first-of-type {
    background-image: linear-gradient(to bottom right, var(--click),var(--text));
    color: var(--whtTxt);
    padding: 15px;
}

section:first-of-type p>span{
    font-size: clamp(3rem,18px,10vw);
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section:first-of-type p>span:last-of-type>span{
    background-image: var(--txtEdt);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline 3px var(--click);
}

section:first-of-type p{
    font-size: clamp(1.5rem,14px,8vw);
}

section:first-of-type h1{
    font-size: clamp(3rem,18px,10vw);
}

section:first-of-type>.container {
    display: flex;
    margin-bottom: 30px;
}

section:first-of-type>.container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section:first-of-type button {
    background-color: var(--click);
    color: var(--whtTxt);
    padding: 5px;
    border-radius: 15px;
    margin: 0 auto;
    position: fixed;
    bottom: 50px;
    border: none;
    right: clamp(50px,1.5rem,40vw);
    width: calc(50px + min(5vw,50px));
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section:nth-of-type(2)>div{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    border-radius: 8px;
}

section:nth-of-type(2) h2{
    margin-bottom: 15px;
    
}


h3{
    font-style: italic;
}

section:nth-of-type(2)>div>ul:first-of-type>div{
    display: flex;
    color: var(--textCol);
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-around;
}

section:nth-of-type(2) ul{
    margin-bottom: 20px;
}

section:nth-of-type(2) ul:last-of-type{
    margin-bottom: 0;
}

section:nth-of-type(2)>div>ul:first-of-type>div>li{
    width: 210px;
    background-color: var(--cont); 
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    font-weight: 500;
    box-shadow: var(--click) 3px 4px 1px;
    text-align: center;
}

section:nth-of-type(3)>div>div{
    display: flex;
    flex-flow: row wrap;
}

section:nth-of-type(3) .container{
    padding: 10px;
    border-radius: 8px;
}

section:nth-of-type(3)>div>div>div{
    margin-left: 5%;
    width: 45%;
    box-shadow: var(--boxShd) 3px 3px 7px;
    border-radius: 20px;
 
}

section:nth-of-type(3)>div>div>div>div{
    padding: 10px;
}

section:nth-of-type(3)>div>div>div:first-of-type ,section:nth-of-type(3)>div>div>div:nth-of-type(2){
    margin-bottom: clamp(4rem,50px,15%);
}

section:nth-of-type(3)>div>div>div span{
    margin: 5px;
}

section:nth-of-type(3) h2{
    margin-bottom: 20px;
}

footer{
    background-color: var(--linksCol);
    color: var(--textCol);
    border: var(--decoEle) 1px solid;
}

footer>div{
    display: flex;
    justify-content: space-around;
    
}

footer>div>div>ul{
    display: flex;
    gap: 20px;
    
}
footer li>a{
    color: var(--textCol);
}

@media screen and (max-width: 768px) {
   .nav a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    }

    header>.container {
        width: 100%;
    }

    footer>div>div+div>ul>li>a{
        display: flex;
        align-items: center;
    }

    .nav a span,footer>div span{
        text-indent: -9999px;
   }

   section:nth-of-type(2)>div>ul:first-of-type>div{
    width: 100%;
   }

   section:nth-of-type(2)>div>ul:first-of-type>div li{
    width: 30%;
   }

   section:first-of-type>.container {
        flex-direction: column-reverse;
   } 

   section:first-of-type>.container img{
       align-self: center;
       margin-bottom: 25px;
   }

   footer>div li{
       font-size: clamp(10px,1rem,5vw);
   }

}