@font-face {
    font-family: "outfit";
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: "young-serif";
    src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(fonts/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

li>a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Inter",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #072a40;
    color: #f9f7f0;
    line-height: 1.5;
}

ul>li,p{
    font-family: "outfit","Inter";
    font-size: clamp(16px,1.3rem,5vw);
}

h1,h2 {
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

section {
    scroll-margin: 80px;
}

h1::first-letter,h2::first-letter{
    color: #18b7be;
}

.navbar>img {
    height: 70px;
    width: min(40vw,200px);
}

.nav ul{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    gap: 20px;
}

nav ul:first-of-type a{
    color: #f9f7f0;
}

.container {
    width: min(90vw,1100px);
    margin: 0 auto;
}

.nav {
    flex-grow: 1;
    position: sticky;
    top: -1px;
}

header {
    position: sticky;
    top: 0px;
    background-color: #261b51;

}


header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[src *="jpg"] {
    width: min(500px,40vw);
    height: min(550px,50vw);
    box-shadow: #574f4f 5px 5px 10px;
    border-radius: max(30px,1.3rem);
    margin-left: calc(10px + 1vw);
}

img[src *= ".png"] { 
    width: min(340px,50vw);
    border-radius: max(30px,1.3rem);
    box-shadow: #072a40 5px 5px 10px;
}

section:first-of-type {
    background-image: url(images/backgrounds/background2.jpg);
    padding: 30px 0;
    background-position-x: center;
    color: white;
}



section:first-of-type p{
    padding: 15px;
    backdrop-filter: b;
    backdrop-filter: blur(16px);
}



section:first-of-type>.container {
    display: flex;
    margin-bottom: 30px;

}

section:first-of-type>.container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

section:first-of-type button {
    background-color: #072a40;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    margin: 0 auto;
    width: calc(50px + min(5vw,50px));
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section:nth-of-type(2){
    margin-top: 50px;
}

section:nth-of-type(2)>div{
    display: flex;
    flex-flow: column wrap;
    
}

section:nth-of-type(2)>div>ul:first-of-type>div{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 0 0 50px 0;
}

h3{
    font-style: italic;
}

section:nth-of-type(2)>div>ul:first-of-type>div>li{
    width: min(40vw,400px);
    background-color: #17bca4;
    border-radius: 8px;
    padding: 10px;
}

section:nth-of-type(3){
    margin-top: 50px;
}

section:nth-of-type(3)>div>div{
    display: flex;
    flex-flow: row wrap;
    
}


section:nth-of-type(3)>div>div>div{
    width: min(350px,calc(40vw + 30px));
    margin: 0 20px;
}