:root{
    --buttonCol: #18B7BE;
    --linksCol: #00A8A3;
    --decoEle: #008E8C;
    --bgCol: #212121;
    --projectCol: #303030;
    --aboutCol: #1A1A1A;
    --textCol: #F5F5F5;
    --abtText: #E5E5E5;
    --projText: #D5D5D5;
}

@font-face {
    font-family: "outfit";
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: "young-serif";
    src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(fonts/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

li>a {
    text-decoration: none;
    /* color: #fff; */
    color: var(--linksCol);
}

section:last-of-type li>a:hover{
    color: #D5D5D5;
}

footer li>a:hover{
    color: var(--projectCol);
}

li {
    list-style: none;
}

body {
    font-family: "Inter",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--bgCol);
    color: var(--textCol);
    line-height: 1.5;
}

ul>li,p{
    font-family: "outfit","Inter";
    font-size: clamp(16px,1.3rem,5vw);
}

h1,h2 {
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

section {
    scroll-margin: 80px;
}

nav i{
    color: var(--textCol);
}

section:nth-of-type(3) i{
    color: var(--linksCol);
}

.navbar>a{
    margin-right: 15px;
}

.navbar>a>img {
    width: min(40vw,200px);
}

.nav ul{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    gap: 20px;
}

nav ul:first-of-type a{
    color: #f9f7f0;
}
nav ul:first-of-type a:hover{
    color: var(--projectCol);
}

.container {
    width: min(90vw,1100px);
    margin: 0 auto;
}

.nav {
    flex-grow: 1;
    position: sticky;
    top: -1px;
}

header {
    position: sticky;
    top: 0px;
    background-color: var(--buttonCol);
    z-index: 2;
}


header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[src *="jpg"] {
    width: min(500px,40vw);
    height: min(550px,50vw);
    box-shadow: #574f4f 5px 5px 10px;
    border-radius: max(30px,1.3rem);
    margin-left: calc(10px + 1vw);
}

img[src *= ".png"] { 
    width: 100%;
}
img[src *=".svg"]{
    height: 100%;
    margin-bottom: -6px;
}

section:first-of-type {
    background-image: url(images/backgrounds/background2.jpg);
    padding: 30px 0;
    background-position-x: center;
    color: var(--abtText);
}


section:first-of-type p{
    padding: 15px;
    backdrop-filter: blur(16px);
    text-shadow: #574f4f 2px 2px 2px;
}

section:first-of-type h1{
    color: var(--bgCol);
    backdrop-filter: blur(10px);
    text-shadow: #17bca4 4px 4px 2px ;
}

section:first-of-type>.container {
    display: flex;
    margin-bottom: 30px;
}

section:first-of-type>.container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section:first-of-type button {
    background-color: var(--buttonCol);
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin: 0 auto;
    position: fixed;
    bottom: 50px;
    right: clamp(50px,1.5rem,40vw);
    width: calc(50px + min(5vw,50px));
    font-family: "young-serif",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section:nth-of-type(2){
    margin-top: 50px;
    color: var(--abtText);
    
}

section:nth-of-type(2)>div{
    display: flex;
    flex-flow: column wrap;
    background-color: var(--aboutCol);
    padding: 10px;
    border-radius: 8px;
}

section:nth-of-type(2)>div>ul:first-of-type>div{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 0 0 50px 0;
}

h3{
    font-style: italic;
}

section:nth-of-type(2)>div>ul:first-of-type>div{
    display: none;
    color: var(--textCol);
}

section:nth-of-type(2)>div>ul:first-of-type>div>li{
    width: min(40vw,400px);
    background-color: #17bca4;
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto;
}

section:nth-of-type(3){
    margin: 50px auto;
     
}

section:nth-of-type(3)>div>div{
    display: flex;
    flex-flow: row wrap;
}

section:nth-of-type(3) .container{
    background-color: var(--projectCol);
    padding: 10px;
    border-radius: 8px;
    border: var(--decoEle) 1px solid;
}

section:nth-of-type(3)>div>div>div{
    width: min(330px,calc(47vw + 30px));
    margin: 30px 30px;
    overflow: auto;
    box-shadow: #424242 7px 7px 5px;
    border-radius: 20px;
    color: var(--projText);
}

section:nth-of-type(3)>div>div>div span{
    margin-left: 20px;
}

section:nth-of-type(3) h2{
    margin-bottom: 20px;
}

footer{
    background-color: var(--linksCol);
    color: var(--textCol);
    border: var(--decoEle) 1px solid;
}

footer>div{
    display: flex;
    justify-content: space-around;
    
}

footer>div>div>ul{
    display: flex;
    gap: 20px;
    
}
footer li>a{
    color: var(--textCol);
}

@media screen and (max-width: 768px) {
   .nav a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    }

    header>.container {
        width: 100%;
    }

    footer>div>div+div>ul>li>a{
        display: flex;
        align-items: center;
    }

    .nav a span,footer>div span{
        text-indent: -9999px;
   }

   section:first-of-type>.container {
        flex-direction: column-reverse;
   } 

   section:first-of-type>.container img{
       align-self: center;
       margin-bottom: 25px;
   }

   footer>div li{
       font-size: clamp(10px,1rem,5vw);
   }

}